html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.header {
  height: 60px;
  background: #1E1E1E;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.show-vehicles {
  right: 30px;
}

.layout {
  display: flex;
  height: calc(100vh - 60px);
  width: 100vw;
  overflow: hidden;
}

.sidebar {
  width: clamp(240px, 20vw, 320px);
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;
}

.map {
  flex: 1;
  min-width: 0;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: fixed;
    right: 0;
    top: 60px;
    height: calc(100vh - 60px);
    width: 280px;

    background: #F5F5F5;
    border-left: 1px solid #DDD;

    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .map {
    grid-column: 1;
  }

  .menu-toggle {
    display: inline;
    position: absolute;
    top: 12px;
    right: 12px;

    z-index: 2000;

    background: white;
    border: 1px solid #ccc;
    padding: 8px 10px;
    border-radius: 6px;

    cursor: pointer;
  }
}

